.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__body {
  display: flex;
  font-size: 32px;
  font-weight: 300;
  line-height: 60px;
}
.blog__title {
  margin-bottom: 60px;
  font-weight: 700;
}
.blog__new-post {
  max-width: 50%;
}
.blog__form {
  position: relative;
}
.blog__input {
  width: 500px;
  margin-bottom: 30px;
  padding: 0 20px;
}
.blog textarea {
  width: 500px;
  height: 250px;
}
.blog__input--post {
  resize: none;
}
.blog__input--post ::-moz-placeholder {
  vertical-align: text-top;
  transform: translateY(20px);
}
.blog__input--post ::placeholder {
  vertical-align: text-top;
  transform: translateY(20px);
}
.blog__button {
  width: 500px;
  background-color: #0094FF;
  color: #fff;
  margin-bottom: 30px;
}
.blog__button:hover {
  background: #1565c0;
}
.blog__posts {
  position: relative;
  width: 50%;
}
.blog__posts .post {
  width: 500px;
  line-height: 100%;
  margin-bottom: 50px;
  opacity: 1;
}
.blog__posts .post__data {
  font-size: 25px;
  color: #0094FF;
  margin-bottom: 15px;
}
.blog__posts .post__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.blog__posts .post__text {
  font-size: 25px;
}
.blog__content {
  position: absolute;
  line-height: 32px;
}
.blog__content--block {
  display: none;
}
.blog__content .empty {
  opacity: 0.5;
}

.validation-message {
  color: #FF0000;
  display: none;
}